<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5c7-uyIcP9V_Em29heke4cLBTqA-56XE</string>
	<key>GCM_SENDER_ID</key>
	<string>721822016477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danemadsen.maid</string>
	<key>PROJECT_ID</key>
	<string>mobile-ai-distribution</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-ai-distribution.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721822016477:ios:93eb302b7fbe0bd9b78c34</string>
</dict>
</plist>