name: Test

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-android.yml'
      - 'android/**'
      - '**/*.ts'
      - '**/*.tsx'
      - '*.js'
      - '*.json'
      - '*.lock'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-android.yml'
      - 'android/**'
      - '**/*.ts'
      - '**/*.tsx'
      - '*.js'
      - '*.json'
      - '*.lock'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node (Yarn cache)
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Run tests
        run: yarn test --ci --reporters=default --reporters=jest-junit